<footer class="bg-dark" id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-5">
                <div class="col-lg-3 col-sm-6">
                    <a href="/index.html">
                        <img src="/assets/images/logo.png" alt="Logo" width="150px">
                    </a>
                    <div class="my-3 text-white">
                        <ul>
                            <li><i class="ri-map-pin-2-fill footer-icon"></i> Bhalakh Medical Center</li>
                            <li>15 (Old No 6, 3rd Ave)</li>
                            <li>Indira Nagar, Adayar,</li>
                            <!-- <li>,</li> -->
                            <li class="mb-2"> Chennai, TN - 600 020</li>
                            <li class="mb-2"><i class="ri-mail-fill footer-icon"></i> sussie.wolff@medicare.com</li>
                            <li><i class="ri-phone-fill footer-icon"></i> 9790766862, 044-24403366</li>
                        </ul>
                    </div>
                    <div class="social-icons">
                        <a href="#" target="_blank">
                            <i class="ri-linkedin-line"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="ri-youtube-line"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="ri-facebook-line"></i>
                        </a>
                        <a href="#" target="_blank">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="#"  target="_blank">
                            <i class="ri-twitter-line"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="text-white">How We Help</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="#">Text1</a></li>
                        <li><a href="#">Text2</a></li>
                        <li><a href="#">Text3</a></li>
                        <li><a href="#">Text4</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="text-white">Quick Links</h5>
                    <div class="line"></div>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Infrastructure</a></li>
                        <li><a href="#">Book Appointment</a></li>
                        <li><a href="#" target="_blank">Careers</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <h5 class="text-white">Get in Touch</h5>
                    <div class="line"></div>
                    <form id="contactForm">
                        <div class="row g-2">
                            <div class="col-md-6">
                                <input type="text" class="form-control border-light" placeholder="Name" name="name"
                                    required>
                            </div>
                            <div class="col-md-6">
                                <input type="tel" class="form-control border-light" placeholder="Mobile" name="mobile"
                                    required>
                            </div>
                            <div class="col-12">
                                <input type="email" class="form-control border-light" placeholder="Email" name="email"
                                    required>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-light" rows="3" placeholder="Message"
                                    name="message" required></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-outline-brand w-100" style="color: white;">Submit</button>
                            </div>
                            <div id="formStatus" class="small mt-2"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row g-4 justify-content-center">
                <div class="col-auto">
                    <p class="mb-0">
                        2025 © Tesson Energy All Rights Reserved ·
                        <a href="#" target="_blank">Privacy policy</a> ·
                        <a href="#"  target="_blank">Terms of service</a>
                    </p>
                </div>
                <!-- <div class="col-auto">
                    <p class="mb-0">
                        Designed by
                        <a href="https://www.linkedin.com/in/saravanan-ravi-4aa286167/" target="_blank">
                            Saravanan Ravi
                        </a>
                        <a class="ms-1" href="https://github.com/saravananravi333" target="_blank"><i
                                class="ri-github-line"></i></a>
                    </p>
                </div> -->
            </div>
        </div>
    </div>
</footer>